.CarsPanel {
  display: flex;
  flex-flow: column nowrap;
  align-self: center;
  justify-content: center;
  margin-top: 5em;
  width: 1200px;
}

.MainText {
  display: block;
  font-size: 48px;
  font-weight: 900;
  letter-spacing: 0;
  line-height: 57px;
}

.SecondText {
  display: block;
  margin-top: 15px;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 29px;
}

@media (max-width: 1300px) {
  .CarsPanel {
    width: 100%;
    padding: 0 2em;
  }
}
