.Footer {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  background-color: var(--negro);
  padding: 0 5em;
  padding-bottom: 20px;
}

.Text {
  display: block;
  text-align: right;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 15px;
}

.Logo {
  align-self: flex-end;
  margin: 0;
}

.Logo img {
  width: 150px;
}

@media (max-width: 900px) {
  .MainContainer {
    flex-flow: column nowrap;
    align-items: center;
  }
}
