.HomePage {
  margin: 5em;
}

.Text {
  display: inline-block;
  width: 100%;
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 0;
  line-height: 29px;
  margin-bottom: 15px;
}

.HomePage > a {
  display: inline-block;
  width: 100%;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 19px;
  margin-bottom: 15px;
}

.HomePage > ul,
.SecondText {
  display: inline-block;
  width: 100%;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 19px;
  margin-bottom: 15px;
}

.HomePage > ul > li {
  margin-bottom: 10px;
}

.DescriptionText {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 19px;
  margin-bottom: 15px;
}
