.DivSubCardsPostsContainer {
  width: 100%;
}

.CardsPostsContainer {
  width: 100%;
  display: flex;
  margin: 1em 0;
}

.RowCardsPostsContainer {
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 100px;
  align-self: center;
}

.ColumnCardsPostsContainer {
  flex-flow: column nowrap;
}

.SubCardsPostsContainer {
  width: 100%;
  display: flex;
  margin: 0.5em 0;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.PostsContainer {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding: 0;
  margin: 0.5em 0;
}

.SecondTitle,
.SecondText {
  display: inline-block;
  width: 100%;
}

.SecondTitle {
  font-size: 22px;
  font-weight: 600;
  color: var(--l7);
  margin-bottom: 0.1em;
}

.SecondText {
  text-align: justify;
  font-size: 18px;
  font-weight: 300;
  color: var(--blanco);
  margin-bottom: 0.5em;
}

@media (max-width: 900px) {
  .DivSubCardsPostsContainer {
    overflow: auto;
    padding: 0 20px;
  }

  .SubCardsPostsContainer,
  .RowCardsPostsContainer {
    max-width: 500px;
    overflow: auto;
  }

  .ColumnResponsive {
    min-width: 0;
    flex-flow: column nowrap;
    align-items: center;
  }

  .ColumnResponsive > div:first-child {
    margin-top: 50px;
  }
}
