.CardContainer {
  position: relative;
  min-height: 260px;
  width: 350px;
  display: flex;
  flex-flow: column nowrap;
  border-radius: 15px;
  background-color: var(--white);
  /*overflow: hidden;*/
  box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.1);
}

.Margin {
  margin: 5px 20px 100px 0;
}

.MainImageContainer {
  position: relative;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 0.5em;
}

.CardMainImage {
  position: absolute;
  top: -70px;
  left: 30px;
  z-index: 5;
  font-size: 20px;
  width: 200px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.CardMainImage img {
  margin: auto;
  width: 200px;
}

.MainInfoContainer {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
  padding: 0 30px;
}

.CardSecondImage {
  width: 90px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  margin: 5px 0;
}

.CardSecondImage img {
  margin: auto;
  width: 90px;
}

.CardTitle,
.CardText {
  display: inline-block;
  width: 100%;
}

.CardTitle {
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 0;
  line-height: 29px;
  margin-bottom: 5px;
}

.CardText {
  color: #999999;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 19px;
  margin-bottom: 5px;
}

.IconsInfoContainer {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  padding-left: 30px;
  margin: 5px 0;
}

.FontIcon {
  font-size: 16px;
  letter-spacing: 0;
  line-height: 19px;
  margin-right: 5px;
  color: var(--blue);
}

.IconText {
  color: #999999;
  font-size: 16px;
  margin-right: 12px;
}

.PriceInfoContainer {
  position: relative;
  bottom: 0px;
  left: 0;
  z-index: 3;
  width: 100%;
  min-height: 60px;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  justify-content: center;
  background-color: var(--l7-fondo-opacity);
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 0 30px;
  padding-top: 47px;
}

.CardIcon {
  position: absolute;
  top: 15px;
  left: 30px;
  z-index: 5;
  font-size: 20px;
  color: var(--white);
  width: 47px;
  height: 47px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  background-color: var(--blue);
  border-radius: 5px;
}

.CardIcon img {
  margin: auto;
  width: 40px;
}

.DayPriceText,
.ThreeDayPriceText {
  display: inline-block;
  width: 100%;
  text-align: right;
}

.DayPriceText {
  font-size: 24px;
  font-weight: 900;
  color: var(--blue);
  letter-spacing: 0;
  margin-bottom: 0;
}

.DayPriceSubText {
  font-size: 12px;
  font-weight: 600;
  font-style: italic;
  color: #999999;
}

.ThreeDayPriceText {
  color: #999999;
  font-size: 16px;
  font-style: italic;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 19px;
  margin-bottom: 5px;
}

.ButtonContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: 100%;
  margin: 15px 0;
  padding: 0 30px;
  margin-bottom: 19px;
}

.Button {
  width: 100%;
  padding: 12px 15px;
  color: var(--white);
  border-radius: 22px;
  background-color: var(--blue);
  cursor: pointer;
}

.Button span {
  display: block;
  text-align: start;
  line-height: 1em;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
}

.WarningContainer {
  margin-top: 15px;
  margin-right: 15px;
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 0;
  line-height: 19px;
}
