@import-normalize;

/* ############################################### GLOBAL ############################################### */
:root {
  --main-font: "Lato", sans-serif;

  --main-background: #eceeef;

  --black: #333333;
  --black-second: #231f20;
  --gray: #dbdbdb;
  --red: #e11d38;
  --white: #ffffff;
  --blue: #141284;
  --warning: #fdd008;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--main-font);
}

/* ############################################### BODY ############################################### */
body {
  background: var(--main-background);
  font-family: var(--main-font);
  font-style: normal;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  color: var(--black);
  margin: 0;
  height: 100%;
}
